<script lang="ts">
  import Nav from "$lib/shared/Navbar.svelte";
  import Footer from "$lib/shared/Footer.svelte";

  import Creator from "./Creator.svelte";
  </script>
  
  <main class="flex flex-col h-screen justify-between">
    <Nav />
    <div class="h-full max-width-container py-5">
      <Creator />
  
    </div>
  
    <Footer />
  </main>
  

  <style lang="postcss">
    /* :global(html) {
      background-color: theme(colors.gray.100);
    } */
  </style>