<script lang="ts">
	import CharacterForm from '../components/CharacterForm.svelte';
	import StatBlock from '../components/StatBlock.svelte';
</script>

<div class="flex flex-row gap-5 w-full">
	<CharacterForm />
	<StatBlock />
</div>

<style></style>