<script lang="ts">

</script>


<nav class="w-full h-10 bg-blue-900 text-white">
    <div class="max-width-container">
        <div class="uppercase font-bold m-2">Prowlers & Paragons</div>
    </div>
</nav>


