<script lang="ts">
  import * as Table from "$lib/components/ui/table";
  import RankIncrementer from "../RankIncrementer.svelte";
  import { Button } from "$lib/components/ui/button";

  export let stat: string = "";
  export let rank: number = 1;

  function statChange(event: any) {
    rank = event.detail.dieRank;
  }
</script>

<Table.Row class="border-none">
  <Table.Cell class="px-4 py-1 font-bold">{stat}</Table.Cell>
  <Table.Cell class="text-center px-4 py-1 flex flex-row justify-center"
    ><RankIncrementer id={`${stat}`} on:statChange={statChange} /></Table.Cell
  >
  <Table.Cell class="text-right px-4 py-1"
    ><Button variant="outline" size="icon">{rank}d</Button></Table.Cell
  >
</Table.Row>
