<script lang="ts">
  import CircleMinus from "lucide-svelte/icons/circle-minus";
  import CirclePlus from "lucide-svelte/icons/circle-plus";
  import { Button } from "$lib/components/ui/button/index.js";
  import { createEventDispatcher } from "svelte";

  let dispatch = createEventDispatcher();

  export let id: string = "";
  let min: number = 1;
  let dieRank: number = 1;

  function countDown() {
    if (dieRank > min) {
      dieRank -= 1;
    }
    dispatch("statChange", { dieRank });
  }
  function countUp() {
    dieRank += 1;
    dispatch("statChange", { id, dieRank });
  }
</script>

<div class="flex flex-row gap-2 m-1 w-fit">
  <Button variant="outline" size="icon" on:click={() => countDown()} disabled={dieRank <= min}>
    <CircleMinus class="h-4 w-4" />
  </Button>
  <div class="flex flex-col justify-center">
    <span class="w-7 px-1 font-bold text-center" {id}>
      {dieRank}
    </span>
  </div>

  <Button variant="outline" size="icon" on:click={() => countUp()}>
    <CirclePlus class="h-4 w-4" />
  </Button>
</div>

<style></style>
