<script lang="ts">
  import * as Tabs from "$lib/components/ui/tabs";
  import * as Card from "$lib/components/ui/card/index.js";
  import * as Table from "$lib/components/ui/table";

  import { Input } from "$lib/components/ui/input";
  import { Label } from "$lib/components/ui/label";

  import StatComponent from "./_components/Stats/StatComponent.svelte";

	import  { CharacterForm } from "$lib/types/form";
	import PowerSheet from "./_components/Powers/PowerSheet.svelte";
	import CharacterPowersTable from "./_components/Powers/CharacterPowersTable.svelte";

  const { abilities, talents } = CharacterForm;
</script>

<Card.Root class="flex flex-col py-5 w-full">
  <Card.Content class="flex flex-col w-full">
    <Tabs.Root value="powers" class="w-full">
      <Tabs.List class="mb-1 f">
        <Tabs.Trigger value="details">Details</Tabs.Trigger>
        <Tabs.Trigger value="abilities">Abilites</Tabs.Trigger>
        <Tabs.Trigger value="talents">Talents</Tabs.Trigger>
        <Tabs.Trigger value="powers">Powers</Tabs.Trigger>
        <Tabs.Trigger value="perks-flaws">Perks and Flaws</Tabs.Trigger>
        <Tabs.Trigger value="gear">Gear</Tabs.Trigger>
      </Tabs.List>
    
      <Tabs.Content value="details">
        <!-- Details -->
        <div>
          <Label for="hero-name">Name</Label>
          <Input id="hero-name" />
        </div>
        <div>
          <Label for="real-name">Real Name</Label>
          <Input id="real-name" />
        </div>
        <div>
          <Label for="hero-points">Hero Points</Label>
          <Input id="hero-points" />
        </div>
      </Tabs.Content>
      <Tabs.Content value="abilities">
        <!-- Abilites -->
        <Table.Root>
          <Table.Header>
            <Table.Row>
              <Table.Head class="px-4 py-1">Attribute</Table.Head>
              <Table.Head class="text-center px-4 py-1">Points</Table.Head>
              <Table.Head class="text-right px-4 py-1">Ranks</Table.Head>
            </Table.Row>
          </Table.Header>
          <Table.Body>
            {#each abilities as ability}
              <StatComponent stat={ability} />
            {/each}
          </Table.Body>
        </Table.Root>
      </Tabs.Content>
      <Tabs.Content value="talents">
        <!-- Talents -->
        <Table.Root>
          <Table.Header>
            <Table.Row>
              <Table.Head class="px-4 py-1">Talent</Table.Head>
              <Table.Head class="text-center px-4 py-1">Points</Table.Head>
              <Table.Head class="text-right px-4 py-1">Ranks</Table.Head>
            </Table.Row>
          </Table.Header>
          <Table.Body>
            {#each talents as talent}
              <StatComponent stat={talent} />
            {/each}
          </Table.Body>
        </Table.Root>
      </Tabs.Content>
      <Tabs.Content value="powers">
        <!-- Powers -->
        <div class="flex flex-row-reverse">
          <PowerSheet />
        </div>
        <CharacterPowersTable />

      </Tabs.Content>      
      <Tabs.Content value="perks-flaws">
        <!-- Perks and Flaws -->
      </Tabs.Content>
      <Tabs.Content value="gear">
        <!-- Gear -->
      </Tabs.Content>
    </Tabs.Root>

    <form></form>
  </Card.Content>
</Card.Root>

<style>
  /* your styles go here */
</style>
