<script lang="ts">
  import * as Card from "$lib/components/ui/card/index.js";
  import { newCharacter } from "../store/TestStore.js"

  const character = newCharacter;
</script>

<Card.Root class="flex flex-col ">
  <Card.Header>
    <Card.Title>{character.heroName} Name</Card.Title>
  </Card.Header>
  <Card.Content class="flex flex-col w-fit">
    <div class="bg-blue-900 text-white px-2 font-bold uppercase">Hero</div>
    <div class="flex flex-row justify-between w-96 flex-wrap gap-y-1 my-1">
        <div class="w-2/4 px-4">
            Edge {character.edge}
        </div>
        <div class="w-2/4 px-4">
            Resolve {character.resolve}
        </div>
        <div class="w-2/4 px-4">
            Health {character.health}
        </div>
        <div class="w-2/4 px-4">
            Hero Points {character.heroPoints}
        </div>
      </div>
    <div class="bg-blue-900 text-white px-2 font-bold uppercase">Abilities</div>
    <div class="flex flex-row justify-between w-96 flex-wrap gap-y-1 my-1">
      {#each character.abilities as ability (ability.id)}
        <div class="w-2/4 px-4">
          {ability.name}
          {ability.rank}d
        </div>
      {/each}
    </div>

    <div class="bg-blue-900 text-white px-2 font-bold uppercase">Talents</div>
    <div class="flex flex-row justify-between w-96 flex-wrap gap-y-1 my-1">
        {#each character.talents as talent (talent.id)}
          <div class="w-2/4 px-4">
            {talent.name}
            {talent.rank}d
          </div>
        {/each}
      </div>

    <div class="bg-blue-900 text-white px-2 font-bold uppercase">Powers</div>
    {#if character.powers.length > 0}
      <div class="flex flex-col w-96 flex-wrap gap-y-1 my-1">
        {#each character.powers as power (power.id)}
          <div class="px-4">
            {power.name}
            {power.rank}d
          </div>
        {/each}
      </div>
      {:else}
        <div class="px-4">None</div>
    {/if}
    <div class="bg-blue-900 text-white px-2 font-bold uppercase">Perks</div>
    {#if character.perks.length > 0}
      <div class="flex flex-col w-96 flex-wrap gap-y-1 my-1">
        {#each character.perks as perk (perk.id)}
          <div class="px-4">
            {perk.name}
          </div>
        {/each}
      </div>
      {:else}
        <div class="w-96 px-4">None</div>
    {/if}
    <div class="bg-blue-900 text-white px-2 font-bold uppercase">Flaws</div>
    {#if character.flaws.length > 0}
      <div class="flex flex-col w-96 flex-wrap gap-y-1 my-1">
        {#each character.flaws as flaw (flaw.id)}
          <div class="px-4">
            {flaw.name}
          </div>
        {/each}
      </div>
      {:else}
        <div class="w-96 px-4">None</div>
    {/if}
    <div class="bg-blue-900 text-white px-2 font-bold uppercase">Gear</div>
    {#if character.gear.length > 0}
      <div class="flex flex-col w-96 flex-wrap gap-y-1 my-1">
        {#each character.gear as gear (gear.id)}
          <div class="px-4">
            {gear.name}
          </div>
        {/each}
      </div>
      {:else}
        <div class="w-96 px-4">None</div>
    {/if}
  </Card.Content>
</Card.Root>

<style></style>
