<script lang="ts">
	import { Button } from '$lib/components/ui/button';
	import * as Table from '$lib/components/ui/table';
	import type { Power } from '$lib/types/character';
	import { Trash2 } from 'lucide-svelte';
	import ProsAndConsSheet from '../ProsAndCons/ProsAndConsSheet.svelte';

	export let power: Power = {
		name: '',
		description: '',
		id: 0,
		rank: 0,
		cost: 0,
		source: '',
		prosAndCons: [],
	};

	function removePower() {
		console.log('Power selected');
	}
</script>

<Table.Row class="border-none">
	<Table.Cell class="px-4 py-1 font-bold w-fit">{power.name}</Table.Cell>
	<Table.Cell class="py-1"><p class="line-clamp-1 max-w-64">{power.description}</p></Table.Cell>
	<Table.Cell class="flex flex-row justify-end gap-2">
        <Button variant="ghost" class="p-1">
            <ProsAndConsSheet />
        </Button>
		<Button variant="link" class="px-1" on:click={() => removePower()}>
			<Trash2 class="h-4 w-4" />
		</Button>
	</Table.Cell>

</Table.Row>
