<script lang="ts">
    import * as Table from "$lib/components/ui/table";
      import type { Power } from "$lib/types/character";
	import CharacterPowersRow from "./CharacterPowersRow.svelte";
    import SelectPowerRow from "./SelectPowerRow.svelte";
  
  
    const powersList: Power[] = [{
       name: "Power Name 1",
       description: "1. This is a description of the power",
       id: 1,
       rank: 1,
       cost: 0,
       source: "",
       prosAndCons: []
     },
     {
       name: "PowerName2",
       description: "2. This is a description of the power",
       id: 2,
       rank: 1,
       cost: 0,
       source: "",
       prosAndCons: [],
     }]; 

     
  </script>
  
  <Table.Root>
    <Table.Header>
      <Table.Row>
        <Table.Head class="px-4 py-1">Power</Table.Head>
        <Table.Head class="px-4 py-1">Pros And Cons</Table.Head>
        <Table.Head class="text-right px-4 py-1"></Table.Head>
      </Table.Row>
    </Table.Header>
    <Table.Body>
      {#each powersList as power}
        <CharacterPowersRow {power} />
      {/each}
    </Table.Body>
  </Table.Root>