<script lang="ts">
	import { Button } from '$lib/components/ui/button';
	import * as Sheet from '$lib/components/ui/sheet';
	import SelectPowerTable from './SelectPowerTable.svelte';
</script>

<Sheet.Root>
	<Sheet.Trigger asChild let:builder>
		<Button variant="ghost"  builders={[builder]}>Add Power</Button>
	</Sheet.Trigger>

	<Sheet.Content class="mr-3 sm:max-w-screen-md">
		<Sheet.Header>
			<Sheet.Title>Add Powers</Sheet.Title>
			<Sheet.Description>Select the power you want to add.</Sheet.Description>
		</Sheet.Header>

		<SelectPowerTable />
	</Sheet.Content>
</Sheet.Root>
