<script lang="ts">
	import { Button } from '$lib/components/ui/button';
	import * as Sheet from '$lib/components/ui/sheet';
	import { Settings } from 'lucide-svelte';
	import SelectProsAndConsTable from './SelectProsAndConsTable.svelte';
	import SelectedProsAndCon from './SelectedProsAndCon.svelte';

</script>

<Sheet.Root>
	<Sheet.Trigger asChild let:builder>
		<Button variant="ghost"  builders={[builder]}>
			<Settings class="h-4 w-4"  />
		</Button>
	</Sheet.Trigger>

	<Sheet.Content class="mr-3 sm:max-w-screen-md">
		<Sheet.Header>
			<Sheet.Title>Add Power Pros and Cons</Sheet.Title>
			<Sheet.Description>Select the Pros and Cons you want to add.</Sheet.Description>
		</Sheet.Header>

		<SelectProsAndConsTable />

		<SelectedProsAndCon />
	</Sheet.Content>
</Sheet.Root>

