<script lang="ts">
  import { Button } from "$lib/components/ui/button";
  import ChevronDown from "lucide-svelte/icons/chevron-down";
  import ChevronUp from "lucide-svelte/icons/chevron-up";
  import * as Table from "$lib/components/ui/table";
	import type { ProOrCon } from "$lib/types/character";
	



  let isDescriptionOpen = false;
  export let proOrCon: ProOrCon = {
     name: "",
     description: "",
     id: 0,
     rank: 0,
     cost: 0
   };

  function onToggle() {
    isDescriptionOpen = !isDescriptionOpen;
  }

  function selectProOrCon() {
    console.log("Pro or Con selected");
  
  }
</script>

<Table.Row class="border-none">
  <Table.Cell class="px-4 py-1 font-bold w-fit">{proOrCon.name}</Table.Cell>
  <Table.Cell class="py-1"
    ><p class="line-clamp-1 max-w-64">{proOrCon.description}</p></Table.Cell
  >
  <Table.Cell class="text-right px-4 py-1 flex flex-row gap-2"
    >
 
    <Button variant="ghost" class="p-1" on:click={() => selectProOrCon()}>Select</Button>
    <Button variant="link" class="px-1" on:click={() => onToggle()}>
        {#if isDescriptionOpen}
        <ChevronUp   class="h-4 w-4 al"  />
      {:else}
        <ChevronDown class="h-4 w-4"  />
      {/if}
    </Button>
  </Table.Cell>
</Table.Row>
{#if isDescriptionOpen}
<div class="px-4 py-1">I am a div</div>
{/if}