<script lang="ts">
	import * as Table from '$lib/components/ui/table';
	import { Button } from '$lib/components/ui/button';
	import type { ProOrCon } from '$lib/types/character';
	import { Trash2 } from 'lucide-svelte';
	import RankIncrementer from '../RankIncrementer.svelte';

	let selectedProsAndConsList: ProOrCon[] = [{
     name: "Pro 1",
     description: "",
     id: 0,
     rank: 0,
     cost: 1
   }];

    function removeProOrCon() {
        selectedProsAndConsList = selectedProsAndConsList.filter((proOrCon) => proOrCon.id !== proOrCon.id);
	}
</script>

{#if selectedProsAndConsList.length > 0}
<div class="mt-10 flex justify-end">
    <Button variant="ghost">Add Selected Pros and Cons</Button>
</div>
<Table.Root class="my-4">
	<Table.Header>
		<Table.Row>
			<Table.Head class="px-4 py-1">Name</Table.Head>
            <Table.Head class="px-4 py-1">Ranks</Table.Head>
			<Table.Head class="px-4 py-1">Cost</Table.Head>
			<Table.Head class="text-right px-4 py-1"></Table.Head>
		</Table.Row>
	</Table.Header>
	<Table.Body>
		{#each selectedProsAndConsList as proOrCon}
			<Table.Row class="border-none">
				<Table.Cell class="px-4 py-1 font-bold w-fit">{proOrCon.name}</Table.Cell>
				<Table.Cell class="py-1"><RankIncrementer id={`${proOrCon.name}`} /></Table.Cell>
                <Table.Cell class="py-1">{proOrCon.cost}</Table.Cell>
				<Table.Cell class="text-right px-4 py-1 flex flex-row gap-2">
					<Button variant="link" class="px-1" on:click={() => removeProOrCon()}>
						<Trash2 class="h-4 w-4" />
					</Button>
				</Table.Cell>
			</Table.Row>
		{/each}
	</Table.Body>
</Table.Root>
{/if}