<script lang="ts">
  import * as Table from "$lib/components/ui/table";
	import type { ProOrCon } from "$lib/types/character";
	import SelectProsAndConsRow from "./SelectProsAndConsRow.svelte";


  const prosAndConsList: ProOrCon[] = [{
     name: "Pro Name 1",
     description: "1. This is a description of the pro.",
     id: 1,
     rank: 1,
     cost: 0
   },
   {
     name: "Con Name 1",
     description: "2. This is a description of the con.",
     id: 2,
     rank: 1,
     cost: 0
   }]; 
</script>

<Table.Root>
  <Table.Header>
    <Table.Row>
      <Table.Head class="px-4 py-1">Name</Table.Head>
      <Table.Head class="px-4 py-1">Description</Table.Head>
      <Table.Head class="text-right px-4 py-1"></Table.Head>
    </Table.Row>
  </Table.Header>
  <Table.Body>
    {#each prosAndConsList as proOrCon}
      <SelectProsAndConsRow {proOrCon} />
    {/each}
  </Table.Body>
</Table.Root>